body {
    /* background-color: #f5f5f5; */
    background-color: #ffffff;

  }
  

  button {
  background-color: #17bbef;
    width: 200px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
