body {
    background-color: #f5f5f5;
    font-family: 'Vina Sans', sans-serif;
  }
  

  button {
  background-color: #17bbef;

    width: 100px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
