
.input-container {
  display: flex;
  border: 1px solid #ccc;
}

.input-partition {
  flex: 1;
  text-align: center;
  cursor: pointer;
  width: 15pc;
}

.input-partition.active {
  background-color: #007bff;
  color: white;
}

.order {
  margin-left: 88px;
  margin-top: 72px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .input-partition {
    width: 10pc;
  }
}




.input-partition {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.input-partition.active {
  background-color: #007bff;
  color: white;
}

.order-article {
  margin-top: 500px;
}

@media (max-width: 600px) {
  .input-partition {
    width: 5pc;
  }
}


.navigate {
  display: flex;
 
}

.button-container {
  display: none;
}

.input-form {
  width: 10pc;
}
/* //// */

.description-form {
 

  max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 17px;

}

input,
textarea[type="text"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      resize: vertical;
    }

#description {

  background-color: transparent;

  width: 100%;
      padding: 10px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      resize: vertical;

}

.next-button {
  background-color: #007bff;
  width: 90px;
}

.buton {
  background-color: #007bff;
  width: 90px;
}

