body {
    font-family: Arial, sans-serif;
  }
  
  
  .articles {
    border-radius: 4px;
   
  }
  
  .card-container {
    display: flex;
  }
  
  .left-section, .center-section, .right-section {
    flex: 1;
    padding: 20px;
  }
  
  .vertical-line {
    border-left: 1px solid #ccc;
    height: 200px;
    margin: 0 10px;
  }

  .horizontal-line {
    border-left: 1px solid #ccc;
    width: 100%;
  }
  
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  /* Styles for buttons */
  .read-more, .edit-button, .delete-button {
    padding: 2px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .read-more {
    background-color: #3498db;
    color: #fff;
  }
  
  .edit-button {
    background-color: #2ecc71;
    color: #2a7d94;
  }
  
  .delete-button {
    background-color: #000000;
    color: #fff;
  }
  
  /* Hover styles for buttons */
  .read-more:hover, .edit-button:hover, .delete-button:hover {
    background-color: #2980b9;
  }
  
  /* Additional styling for better visibility */
  .left-section {
    background-color: transparent;
  }
  
  .center-section {
    background-color: transparent;
  }
  
  .right-section {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .duration {
    font-weight: bold;
    font-size: 19px;
    color: #17bbef;
  }

  .duration-style {
    font-size: 15px;
  }
  .numOfWords {
    font-weight: bold;
    margin-top: 15px;
    font-size: 19px;

  }


  .title {
    font-weight: bold;
    font-size: 32px;
    color: #007bff;

  }

  .description {
    color: #007bff;
  }

  .desc {
    color: black;
}