.dashboard {
  }
  
 
  .horizontal-line {
    width: 1200px;
    height: 2px;
    background-color: #ccc;
  }

  .nav-center {
    font-size: 16px;
    margin-top: 20px;
    

  }

  .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
  }

  .horizontal-line {
    width: 100%;
    background-color: #ccc;
    margin-top: 20px;
  }

  
  
  .profile-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 100px;
  }
  
  .dashboard {
    display: flex;
  }
  
  .horizontal-line {
    width: 100%;
    background-color: #ccc;
    margin-top: 20px;
  }
  
  
  

  