.dashboard {
    display: flex;
  }
  
  .navbarr {
    display: flex;
    align-items: center;
  }
  
  
  
  .navbar-searchh {
    font-size: 16px;
    width: 50vh;
    outline: none;
    background: transparent;
    margin: auto;
    font-size: 16px;
  align-items: center;
  margin: auto;
margin-top: 90px;

  }

  .navbar-searchh input {
    background: transparent;
  }
  
  .horizontal-line {
    width: auto;
    height: 1px;
    background-color: #ccc;
  }
  
  .divline {
    height: 12vh;
  }
  

  /*  */