.dashboard {
    display: flex;
    height: 100vh;
}

.dashboard__content {
    flex: 1; /* Take up the remaining space */
    padding: 20px;
}





.navbarr {
    padding: 10px 20px;
    background-color: #fff;
    color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: 100px;
    



    display: flex;
    align-items: center;
    justify-content: space-between;
}




.navbar-searchh input {
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
    width: 100%;
  outline: none;
  
  width: 600px;
   
    
}