.form-container {
margin-left: 100px;    
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #description, #title, #keywords, #duration, #numOfWords, #numberOfArticles, #totalCost {
    height: 50px;
    width: 520px;
  }
  
  
  .form-group label {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  
  .form-group input,
  .form-group textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  
  .form-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-container form .form-group {
    width: 30%;
  }


  .title-keywords {
    display: flex;
    margin-left: 30px;
  }
  

  #title, #keywords {
    width: 400px;

  }

  .discription {
    width: 550px;
    margin-left: 60px;
    margin-top: 20px;
  }

  .label-desc {
    margin-left: 60px;
  }

  .durration {
    margin-left: 23px;
  }