.content-hub {
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  .navbar {
    justify-content: space-between;
    box-shadow: 0 0 3px 1px lightgrey;
    padding: 10px;
    background-color: #050A30;
    color: #ffffff;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar-right a, .navbar-right .dropdown-content a {
    text-decoration: none;
    color: #ffffff;
    
    
  }
  
  .navbar-right .vertical-line {
    height: 30px;
    width: 3px;
    background-color: #ccc;
    margin: 0 5px; /* decreased padding by 70% */
  }
  
  .navbar-right .get-started {
    background-color: #7EC8E3;
    border-radius: 1px;
    padding: 8px 15px;
    margin-left: auto; /* Keep the "Get Started" button on the end */
  
    color: #ffffff;
  }
  
  .navbar-right .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 0;
  }
  

   .containerr {
    display: flex;
  }
  
  .right-wing {
    width: 50%;
    background-color: #7EC8E3;
    height: 73vh;
    align-self: stretch; /* Stretch to the height of the container */
  }
  
  .left-wing {
    width: 50%;
    background-color: #efefef;
    align-self: stretch; /* Stretch to the height of the container */
  }
  
  
  
  
  
  
  
  .header {
    color: #292b2d;
    font-size: 30px; /* Adjust the font size as needed */
    font-family: 'Arial', sans-serif;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
  
    
  }
  
  
  
  
  p {
    font-size: 1.2em; /* Adjust the font size as needed */
    margin: 20px; /* Add some margin for spacing */
  }
  
  
  
  .buttonn {
    background-color: #050A30;
    color: white;
   
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20%;
    font-size: 1em;
    text-decoration: none; /* Remove underline */
  
  
  }
  
  .custom-text {
    font-size: 15px; /* Adjust the font size as needed */
    font-family: 'Arial', sans-serif; /* Change the font family as needed */
    color: #707a82;
    padding-left: 20%;
  
  }

.divv{
    margin-top: 8%;
   
}


.space {
  color: #7EC8E3;
}

.immg {
  padding-left: 15%;
  width: 77%;

  filter: grayscale(100%);
}