/* .content-hub {
  margin-left: 20px; 
  color: #000000;

.navbar-right {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-right a, .navbar-right .dropdown-content a {
  text-decoration: none;
  color: #000000;
  
  
}

.navbar-right .vertical-line {
  height: 30px;
  width: 3px;
  background-color: #ccc;
  margin: 0 5px; 
}

.navbar-right .get-started {
  background-color: #7EC8E3;
  border-radius: 1px;
  padding: 8px 15px;
  margin-left: auto;

  color: #ffffff;
}

.buttonn {
  background-color: #050A30;
  color: white;
 
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20%;
  font-size: 1em;
  text-decoration: none;   

}


@media screen and (max-width: 600px) {
  .navbar-right {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .navbar-right.show {
    display: flex;
  }

  .navbar-right a {
    padding: 15px;
    text-align: left;
    width: 100%;
  }

  .navbar-right .dropdown {
    position: relative;
    display: inline-block;
  }

  .navbar-right .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .navbar-right .dropdown:hover .dropdown-content {
    display: block;
  }
  background-color: #071c2e;

} */

.container-class {
  height: 500px;
  background-color: #ffffff;
}
.left {
  float: left;
  width: 50%;

}
.container-class > span > div {
  line-height: 1.5;
  margin-bottom: 15px;
}

.container-class > span > div:nth-child(2) {
  font-size: 18px;
}

.container-class > span > div:nth-child(3) {
  font-size: 16px;
}

.buttonn {
  display: inline-block;
  background-color: #17bbef;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  width: 250px;
  font-size: 15px;
  ;
}

.buttonn:hover {
  background-color: #4fd1f8;
}

.expand-online-presence {
  font-size: 40px;
}

.container-class > span > div:nth-child(2) {
  font-size: 30px;
}

.container-class > span > div:nth-child(3) {
  font-size: 30px;
}

.landinglayout {
  height: auto;
  background-color:#17bbef;
  color: white;
}