/* .imgg {
    flex: 0 0 auto;
    margin-right: 20px;
    max-width: 100%; 
  } */

  .form-image {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 80px;
    border-radius: 0%;
  }

  .right-form {
    margin-left: 2px;
  }

  @media screen and (max-width: 768px) {
    .form-image {
      flex-direction: column;
      align-items: center;
    }
  
    .imgg {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  