.search {
  margin-top: 90px;
  width: 700px;
  border: 1px solid #ccc;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;

}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
}

option {
  height: 300px;
}

.btn-block {
  width: 200px;
}

.form-search {
  margin: auto;
  margin-left: 100px;


}

.form-inputt {
  display: flex;
}

.sub-buton {
  margin-top: -4px;
  width: 30px;
}

.form-bttn {
  background-color: #17bbef;
   width: 300px;
    height: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
}