.vertical {
    height: 600px;
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
  }
  
.fontt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.text-center {
  text-align: center;
  padding: 3%;

}



  



  
  
  
  .left-container {
    display: flex;
  }
  
  .card {
    width: 200px;
    height: auto;
    margin: 10px;
    text-align: center;
    border-radius: 0;
    padding: 20px;
  }
  
  .card img {
    width: 100%;
    height: 100%;
  }


 
  
  
  .card-content {
    padding: 10px;

  }
  
  .card-title {
    font-size: 1.5rem;
    color: #000C66;

  }
  
  .card-text {
    font-size: 0.9rem;
  }
  .iconn{
    justify-content: center;
  }

  .here{
    box-shadow: 0 2px 4px rgba(0.5, 0, 0, 0.9);

  }

  .verticals {
    height: 200px;
    width: 1px;
    background-color: #000000;
    margin-left: 3pc;
  }

  .money {
    font-size: 6%;
  }

  .connn {
    width: 350px;
    height: 400px;
  }

  .second-div {
    display: flex;
    margin-top: 20px;
  }

  .text-resos {
    font-weight: bolder;
    font-size: large;
  }

  .industry {
    width: 400px;
    font-size: 10px;
  }

  .industry h4 {
    font-size: large;
    font-weight: bold;
    margin-left:50px;

  }

  .third-div {
    margin: auto;
    padding-top: 2%;
  }

  .iconn {
    color: #7EC8E3;
  }