.btn-container {
    display: flex;
    align-items: center;
    color: black;
  }

  .toggle-btn {
    font-size: 1.75rem;
    color: var(--primary-500);
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .ox-gang {
    color: #000000;
  }

  @media (min-width: 992px) {
  
    .nav-center {
      width: 90%;
    }
    .logo {
      display: none;
    }
    .logo-text {
      display: block;
    }
  }