.payment-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  button:hover {
    background-color: #45a049;
  }

  #total-cost {
    font-weight: bold;
    margin-top: 10px;
  }


  .total-cost-box p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }