.dashboard {
  margin-top: 30px;
  
}

.nav-links {
  width: 150px;
  color: #000000;
  border: 1px solid #ccc;
  height: 100vh;
}


.sidebar-link {
  font-size: 150%;
  margin-top: 20px;
  padding: 5px;
  font-style: none;
  
}

.sidebar-link span.icon {
  margin-right: 10px; /* Adjust this value to set the desired space between icon and text */
  color: black;
}
